/* Sigmar One Fonts */
@font-face {
    font-family: "SigmarOne-Regular";
    src: local("SigmarOne-Regular"), url("./sigmar-one/SigmarOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Open Sans Fonts */
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("./open-sans/OpenSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: local("OpenSans-BoldItalic"), url("./open-sans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: local("OpenSans-ExtraBold"), url("./open-sans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: local("OpenSans-ExtraBoldItalic"), url("./open-sans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  src: local("OpenSans-Italic"), url("./open-sans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: local("OpenSans-LightItalic"), url("./open-sans/OpenSans-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"), url("./open-sans/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"), url("./open-sans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"), url("./open-sans/OpenSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: local("OpenSans-SemiBoldItalic"), url("./open-sans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}