:root {
  --primary: #F2B200;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  font-family: Oswald-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/background.png");
  background-size: cover;
  margin: 0;
}

code {
  font-family: Oswald-Regular;
}

h1 {
  font-family: SigmarOne-Regular;
  font-size: 7vh;
}

p {
  font-size: 3vh;
}
