:root {
  --primary: #F2B200;
  --secondary: #E84943;
  --tertiary: #006E4A;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  font-family: SigmarOne-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/background.png");
  background-size: cover;
  margin: 0;
}

code {
  font-family: SigmarOne-Regular;
}

h1 {
  font-family: SigmarOne-Regular;
  font-size: 7vh;
}

h2 {
  font-family: SigmarOne-Regular;
  font-size: 2vh;
}

p {
  font-size: 3vh;
}
