:root {
  --primary: #F2B200;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  margin: 0;
  font-family: Oswald-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Oswald-Regular;
}
